
.nav {
    height: 5vh;
    top: 0;
    position: sticky;
    background-color: antiquewhite;
    display: flex;
    padding-top: 1vh;
    max-width: 100%;
}

.search{
    height: auto;
    border: 2px transparent;
    position: fixed;
    margin-left: 5vh;
    left: 10%;
}
.search img{
    height: auto;
    position: fixed;
    margin-right: 1vh;
    margin-top: 0.1vh;
}
.search input{
    border-radius: 5px;
    border: 0.1vh transparent;
    height: 4vh;
    max-width: 100%;
}

.account{
    position:fixed;
    right: 5vh;
    padding-top: 1vh;
    color: rgb(0, 0, 252);
    font-size: 1rem;
}