<!DOCTYPE html>
{% load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{%  static 'css/Home_Page/css.css' %}">
    <link rel="stylesheet" href="{%  static 'css/Home_Page/Main.css' %}">
    <link rel="stylesheet" href="{%  static 'css/Home_Page/mainBottom.css' %}">
    <link rel="stylesheet" href="{%  static 'css/Home_Page/mainNav.css' %}">

</head>

<body>
    <div class="nav">
        <!-- menu -->
        <div class="menu" id="menu" onclick="menu()">
            <div>
                <span></span><span></span><span></span>
            </div>
        </div>
        <!-- search -->
        <div class="search">
            <!-- search symbol -->
            <div class="searchimg">
                <img src="{% static 'images/Home_Page/search_logo.png' %}" alt="">
            </div>
            <!-- search box -->
            <div>
                <input type="text" placeholder="&nbsp; search.">
            </div>
        </div>
        <div class="account">
            <div><img src="{% static 'images/Home_Page/profile.png' %}" alt=""></div>
            <div class="login">log in</div>
        </div>
    </div>
    <div class="main">
        <!-- sidenav -->
        <div class="sidenav" id="sidenav">
            <div class="Home"><a href="#">Home</a></div>
            <div class="MyAcount"><a href="#">Profile</a></div>
            <div class="AddBlog"><a href="#">Add Blog</a></div>
            <div class="trending"><a href="#">Trending blogs</a></div>
            <div class="Editblog"><a href="#">Your Posts</a></div>
            <div class="about"><a href="#">about</a></div>
        </div>
            <!-- all blogs -->
            <div class="blogmain">
                <!-- single blog -->
                <div class="blog">
                <div class="blogimg"><img src="{% static 'images/Home_Page/img1.jpg' %}" alt=""></div>
                <div class="blogContent">
                    <h2>Emergin Ai technology</h2><br>
                    <p>&nbsp;&nbsp; &nbsp;&nbsp;AI is the most emergin technology in this era.we can do shopping using
                        AI by
                        just telling it what we want based on our requirement it can select the needed items at the
                        prices
                        we want and can place order. we can solve many problems in less time using AI chat bots like
                        Chat
                        GPT.At present all the teck gaints are rushing into the AI market. and many loos their jobs due
                        to
                        AI and it's advancement. It has capable of replacing many jobs in feature as well as it can
                        produce
                        new jobs such as to maintain such large data and to probide security from miss using the AI
                        etc...
                    </p>
                    </div>
                </div>
                <div class="blog">
                <div class="blogimg"><img src="{% static 'images/Home_Page/img2.jpeg' %}" alt=""></div>
                <div class="blogContent">
                    <h2>Career in Software Engineer</h2><br>
                    <p>&nbsp;&nbsp; &nbsp;&nbsp;A software engineer designs, develops and builds computer software.
                        Every
                        piece of software and application you have on your computers and smartphones is probably
                        designed by
                        a team of software engineers. They are able to do this by learning the languages that computers
                        use
                        to operate. Computer engineering is in evergreen demand, making this an attractive career option
                        for
                        professionals who enjoy working with computers and creative problem-solving.</p>
                    <p>&nbsp;&nbsp; &nbsp;&nbsp;Software engineers mostly spend their days in an office setting behind a
                        desk. Most of their time may go towards working on current projects, with occasional team
                        meetings.
                        Many software engineers may also be able to work remotely. Software engineers may also have
                        flexible
                        working hours, provided they handle their workload and meet all their deadlines consistently.
                    </p>
                </div>
                </div>
                <div class="blog">
                <div class="blogimg"><img src="{% static 'images/Home_Page/img3.jpeg' %}" alt=""></div>
                <div class="blogContent">
                    <h2>What is crypto</h2><br>
                    <p>&nbsp;&nbsp; &nbsp;&nbsp; Cryptocurrency is a digital payment system that doesn't rely on banks
                        to
                        verify transactions. It’s a peer-to-peer system that can enable anyone anywhere to send and
                        receive
                        payments. Instead of being physical money carried around and exchanged in the real world,
                        cryptocurrency payments exist purely as digital entries to an online database describing
                        specific
                        transactions. When you transfer cryptocurrency funds, the transactions are recorded in a public
                        ledger. Cryptocurrency is stored in digital wallets. <br>

                        &nbsp;&nbsp; &nbsp;&nbsp;Cryptocurrency received its name because it uses encryption to verify
                        transactions. This means advanced coding is involved in storing and transmitting cryptocurrency
                        data
                        between wallets and to public ledgers. The aim of encryption is to provide security and safety.
                    </p>
                </div>
                </div>
            </div>
    </div>
    <script src="{% static 'js/Home_Page/nav.js'%}">
        
    </script>
</body>

</html>